{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <title>更改帐户</title>
</head>

<body>
<link rel="stylesheet" href="{% static 'gwstore/css/my_breakpoint_and_common_style.css' %}"/>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.js"></script>
<style>
    /*Remove the left padding from the labels so that they can be aligned to the left side.*/
    label.ui-body {
        padding-left: 0px;
    }

    .error_msg {
        font-size: 0.8em;
        padding-bottom: 0.5em;
        white-space: normal;
        color: red;
    }

</style>

{% include 'gwstore/navbar.html' %}

<form data-ajax="false">
    {% csrf_token %}
    <div class="middle_content">
        <div role="main" class="ui-content">
            <ul data-role="listview">
                <li>
                    <div class="ui-grid-a my-breakpoint-for-two-columns ui-corner-all ui-shadow" style="padding:5px;">
                        <div class="ui-block-a my-breakpoint-for-two-columns">
                            <label class='ui-body'>用户名：</label>
                        </div>
                        <div class="ui-block-b my-breakpoint-for-two-columns">
                            <label class="ui-body">{{ request.user.username }}</label>
                        </div>
                        {% if request.GET.changepassword %}
                            <!--User wants to change the password-->
                            <div class="ui-block-a my-breakpoint-for-two-columns">
                                <label class='ui-body'>新密码：</label>
                            </div>
                            <div class="ui-block-b my-breakpoint-for-two-columns">
                                <input id="password" name="password" type="password"/>
                            </div>
                            <div class="ui-block-a my-breakpoint-for-two-columns">
                                <label class='ui-body'>再确认一次密码：</label>
                            </div>
                            <div class="ui-block-b my-breakpoint-for-two-columns">
                                <input id="password2" name="password2" type="password"/>
                            </div>
                        {% endif %}

                        {% if request.GET.changeemail %}
                            <!--User wants to change his email-->
                            <div class="ui-block-a my-breakpoint-for-two-columns">
                                <label class='ui-body'>当前Email：</label>
                            </div>
                            <div class="ui-block-b my-breakpoint-for-two-columns">
                                <label id="lbl_current_email" class="ui-body">{{ request.user.email }}</label>
                            </div>
                            <div class="ui-block-a my-breakpoint-for-two-columns">
                                <label class='ui-body'>新的Email：</label>
                            </div>
                            <div class="ui-block-b my-breakpoint-for-two-columns">
                                <input id="email" name="email" type="text"/>
                            </div>
                            <div class="ui-block-a my-breakpoint-for-two-columns"></div>
                            <div class="ui-block-b my-breakpoint-for-two-columns">
                                <div style="font-size:0.8em;padding-bottom:0.5em;white-space:normal !important">
                                    <strong>请务必保证Email地址是正确的，因为该Email地址将会被用来接收电子版的快递单。</strong>
                                </div>
                            </div>
                            <div class="ui-block-a my-breakpoint-for-two-columns">
                                <label class='ui-body'>再确认一次新的Email：</label>
                            </div>
                            <div class="ui-block-b my-breakpoint-for-two-columns">
                                <input id="email2" name="email2" type="text"/>
                            </div>
                        {% endif %}
                    </div>
                </li>
                <li> <span style="float:right">
          <a href="#" class="ui-btn" id="btn_submit" type="button" data-inline="true">提交</a>
          </span></li>
            </ul>
        </div>
    </div>
    <div data-role="popup" id="popup_alert" data-corners="true">
        <a href="#" data-rel="back" data-role="button" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>

        <div id="error_content" style="padding: 20px"></div>
    </div>


</form>
<script>
    {% if request.GET.changepassword %}
        //User wants to chagne his password
        $(document).ready(function () {
            $("form").validate({
                rules: {
                    password: {
                        required: true,
                        minlength: 6
                    },
                    password2: {
                        equalTo: "#password"
                    }
                },
                messages: {
                    password: {
                        required: "密码不能为空。",
                        minlength: "密码至少需要6个字符。"
                    },
                    password2: {
                        equalTo: "两次输入的密码必须相同。"
                    }
                },
                errorPlacement: function (error, element) {
                    err_div = element.parent().next("div.error_msg");
                    if (err_div.length > 0)
                    //If the error div already exists, just replace the inner text with the new error message.
                        err_div.text(error.text());
                    else
                    //Create a new div after the textbox.
                        $("<div class='error_msg'></div>").text(error.text()).insertAfter(element.parent());
                },
                unhighlight: function(element, errorClass, validClass)  {
                    err_div = $(element).parent().next("div.error_msg");
                    if (err_div.length > 0)
                    //If the error div already exists, remove it.
                        err_div.remove();
                }
            });
        });

        $("#btn_submit").click(
                function (e) {
                    e.preventDefault();
                    if ($("form").valid()) {
                        $.ajax({
                                    url: "/changeaccount/",
                                    method: "POST",
                                    data: {
                                        password: $("#password").val()
                                    }
                                }
                        ).done(
                                function (data) {
                                    if (data != "success") {
                                        //Display the error message from Server.
                                        $("#error_content").html(data);
                                        $("#popup_alert").popup("open");
                                    } else {
                                        alert("密码修改成功！");
                                    }
                                }
                        );
                    }
                }
        )
    {% endif %}


    {% if request.GET.changeemail %}
        //User wants to change his email
        $(document).ready(function () {
        $("form").validate({
            rules: {
                email: {
                    required: true,
                    email: true,
                    remote: "/checkexistemail/"
                },
                email2: {
                    equalTo: "#email"
                }
            },
            messages: {
                email: {
                    required: "Email不能为空。",
                    email: "Email的格式不正确。",
                    remote: "该Email已经注册过了。"
                },
                email2: {
                    equalTo: "两次输入的Email必须相同。"
                }
            },
            errorPlacement: function (error, element) {
                err_div = element.parent().next("div.error_msg");
                if (err_div.length > 0)
                //If the error div already exists, just replace the inner text with the new error message.
                    err_div.text(error.text());
                else
                //Create a new div after the textbox.
                    $("<div class='error_msg'></div>").text(error.text()).insertAfter(element.parent());
            },
            success: function (element) {
                err_div = element.parent().next("div.error_msg");
                if (err_div.length > 0)
                //If the error div already exists, remove it.
                    err_div.remove();
            }
        });
    });

    $("#btn_submit").click(
            function () {
                if ($("form").valid()) {
                    $.ajax({
                                url: "/changeaccount/",
                                method: "POST",
                                data: {email: $("#email").val()}
                            }
                    ).done(
                            function (data) {
                                if (data != "success")
                                {
                                    //Display the error message from Server.
                                    $("#error_content").html(data);
                                    $("#popup_alert").popup("open");
                                }else{
                                    alert("Email修改成功！");
                                    $('#lbl_current_email').text($("#email").val());
                                }
                            }
                    );
                }
            }
    )
    {% endif %}
    $(window).load(function (event) {
        /*
         //Make the labels align to the middle vertically.
         $(".ui-block-a").each(function (index) {
         $(this).find("label").css("padding-top", 0);
         $(this).height($(this).next(".ui-block-b").height());
         var rowHeight = $(this).height();
         var labelHeight = $(this).children("label").height();
         $(this).find("label").css("padding-top", (rowHeight - labelHeight) / 2);
         })*/

        //Remove the left margin from class "ui-select" so that the second column can align to left
        $(".ui-select").css("margin-left", "0");
    });


    //For configuring CSRF for Django
    //>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
    // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            csrftoken = getCookie('csrftoken');
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    //<<<<<<<<<<<The CSRF configuration ends here<<<<<<<<<<<<<<


</script>
</body>
</html>
