{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <title>重置密码</title>
</head>

<body>
<link rel="stylesheet" href="{% static 'gwstore/css/my_breakpoint_and_common_style.css' %}"/>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.js"></script>
<style>
    /*Remove the left padding from the labels so that they can be aligned to the left side.*/
    label.ui-body {
        padding-left: 0px;
    }

    .middle_content .ui-title{
        margin-left:auto !important;/*Remove the margin in the ui-header so that the text will not be cut*/
        margin-right:auto !important;/*Remove the margin in the ui-header so that the text will not be cut*/
    }

    .error_msg {
        font-size: 0.8em;
        padding-bottom: 0.5em;
        white-space: normal;
        color: red;
    }

</style>

{% include 'gwstore/navbar.html' %}

<form data-ajax="false">
    {% csrf_token %}
    <div class="middle_content">
        <br>
        <div data-role="header">
        <h1>用户名和重置密码将会被发送到您Email信箱中</h1>
        </div>

        <div role="main" class="ui-content">
            <ul data-role="listview">
                <li>
                    <div class="ui-grid-a my-breakpoint-for-two-columns ui-corner-all ui-shadow" style="padding:5px;">
                        <div class="ui-block-a my-breakpoint-for-two-columns">
                            <label class='ui-body'>请输入您的Email：</label>
                        </div>
                        <div class="ui-block-b my-breakpoint-for-two-columns">
                            <input id="email" name="email" type="text"/>
                        </div>
                    </div>
                </li>
                <li> <span style="float:right">
          <a href="#" class="ui-btn" id="btn_submit" data-inline="true" data-ajax="false">提交</a>
          </span></li>
            </ul>
        </div>
    </div>

</form>
<script>
        $("#btn_submit").click(
                function (e) {
                    e.preventDefault();
                    {
                        $.ajax({
                                    url: "/resetpassword/",
                                    method: "POST",
                                    data: {
                                        username: $("#username").val(), email: $("#email").val()
                                    }
                                }
                        ).done(
                                function (data) {
                                    if (data.status != "success") {
                                        //Display the error message from Server.
                                        alert(data.error);
                                    } else {
                                        alert("系统已经把您的密码重置，新的密码已经被发送到您的Email信箱中，请查收。");
                                        window.location.href = "/login/"
                                    }
                                }
                        );
                    }
                }
        );

    $(window).load(function (event) {
        //Remove the left margin from class "ui-select" so that the second column can align to left
        $(".ui-select").css("margin-left", "0");
    });


    //For configuring CSRF for Django
    //>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
    // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            csrftoken = getCookie('csrftoken');
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    //<<<<<<<<<<<The CSRF configuration ends here<<<<<<<<<<<<<<


</script>
</body>
</html>
